---
import { Reserve } from "astro:db";
import { db } from "astro:db";
import MainLayout from "../layouts/MainLayout.astro";
import { DateTime } from "luxon";

const reservesRaw = await db.select().from(Reserve);
const reserves = reservesRaw
  .sort((a, b) => Number(a.seatNumber) - Number(b.seatNumber))
  .sort((a, b) => Number(a.seatZone) - Number(b.seatZone));
---

<MainLayout>
  <div class="container is-widescreen">
    <div class="section hero">
      <div class="hero-body">
        <h1 class="title">Todas las reservas</h1>
        <!-- <button class="button is-primary">Descargar csv</button> -->
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <table class="table is-fullwidth">
          <thead>
            <tr>
              <th>#</th>
              <th>Nombre y Apellido</th>
              <th>Cedula</th>
              <th>Celular</th>
              <th>Talla</th>
              <th>Zona</th>
              <th>Asiento</th>
              <th>Reservado el</th>
            </tr>
          </thead>
          <tbody>
            {
              reserves.map(
                (
                  {
                    fullName,
                    citizenId,
                    cellphone,
                    tshirtSize,
                    seatNumber,
                    seatZone,
                    reservedAt,
                  },
                  i
                ) => (
                  <tr>
                    <td>{i + 1}</td>
                    <td>{fullName}</td>
                    <td>{citizenId}</td>
                    <td>{cellphone}</td>
                    <td>{tshirtSize}</td>
                    <td>{seatZone}</td>
                    <td>{seatNumber}</td>
                    <td>
                      {DateTime.fromJSDate(reservedAt)
                        .minus({ hours: 5 })
                        .toLocaleString(DateTime.DATETIME_MED)}
                    </td>
                  </tr>
                )
              )
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</MainLayout>
