---
import { SeatsZonesFloor_1, SeatsZonesFloor_2 } from "../consts/seat-schema";
import ZoneGrid from "./ZoneGrid.astro";
---

<div id="floor-selector-container" class="container">
  <select name="floor" id="floor-selector">
    <option value="1">1er Piso</option>
    <option value="2">2do Piso</option>
  </select>
</div>
<div id="seats-grid">
  <div id="altar">
    <p>Altar</p>
  </div>
  {SeatsZonesFloor_1.map((zone) => <ZoneGrid {zone} />)}
  {SeatsZonesFloor_2.map((zone) => <ZoneGrid {zone} />)}
</div>

<script>
  function showZonesByFloor(floor) {
    $zones.forEach((z) => z.classList.add("hide"));
    const $zonesToShow = document.querySelectorAll(`.f-${floor}`);
    $zonesToShow.forEach((z) => z.classList.remove("hide"));
  }

  document.addEventListener("readystatechange", () => showZonesByFloor(1));

  const $zones = document.querySelectorAll(".zone");
  const $seats = document.querySelectorAll(".seat");
  $seats.forEach((b) => {
    b.addEventListener("click", () => {
      const seat = b.getAttribute("data-seat");
      const zone = b.getAttribute("data-zone");
      console.log({ zone, seat });
      alert(`Asiento Selecionado Zona: ${zone} Asiento: ${seat}`);
    });
  });

  const $floorSelector = document.getElementById("floor-selector");
  $floorSelector.addEventListener("change", (evt) => {
    const floor = evt.currentTarget.value;
    showZonesByFloor(floor);
  });
</script>

<style lang="scss">
  #seats-grid {
    display: grid;
    grid-template-columns: repeat(29, 1fr);
    grid-template-rows: repeat(21, 1fr);
    width: 100%;
    height: 100vh;
    padding: 10px;
    column-gap: 10px;
    row-gap: 30px;

    .f-1 {
      opacity: 0.3;
    }
  }

  #altar {
    grid-column: 10/25;
    grid-row: 1/5;
    background-color: #9d8189;
    display: grid;
    place-content: center;
  }
</style>
